// Основные стили документа
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Правильное скрытие элементов для ридера
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Текстовые стили, размеры шрифтов и тд
body {
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: $color-default;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

::placeholder {
  color: $color-info;
}

::selection {
  background-color: #a7a7a7;
  color: $color-info;
}

input,
textarea {
  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
canvas,
figure,
figcaption,
audio,
video {
  margin: 0;
  padding: 0;
}

.search__wrapper {
  @include full-centered;

  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 400px;
  height: 100vh;

  .search__input,
  label {
    width: 100%;
    min-height: 30px;
  }

  .search__input {
    padding: 0 5px;
  }

  #search__list {
    margin-top: 20px;
    min-height: 248px;

    li {
      @include item-centered;

      transition: $transition;
      position: relative;
      padding: 0 0 0 15px;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        margin-right: 5px;
        width: 10px;
        height: 10px;
        background-color: blue;
        border-radius: 100%;
      }
    }
  }
}
